body{
    margin:0px
}
section{
    margin-right: 100px;
    margin-left: 100px;
}
/* DISEÑO AL ENCABEZADO */
header{
    width: 100%;
    height: 100px;
    background-color: #124E73;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav h1,#navbar-right a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#navbar-left{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-left-items{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:10px;
}

#navbar-left>img{
    width: 50px;
    height: 50px;
}

#items-profile{
    display: flex;
    align-items: center;
    gap:2px;
}

#items-profile:hover{
    cursor: pointer;
}

#navbar-right{
    width: 440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:8px;
}

#navbar-right a:hover{
    scale: 1.05;
    color: #646464;
}

#user-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* DISEÑO AL CUERPO*/
/* Presentación del mentor  */
#mentor-profile{
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

#mentor{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentación-mentor{
    width: 60%;
    height: 100%;
    margin-top: 50px;
}

#photo-mentor{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

/* RESEÑAS DE LOS ESTUDIANTES */
#container-reviews{
    margin: 20px 0;
}
.reviews{
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin: 10px 0px;
}

.name{
    margin-left: 5px;
}

.commit{
    margin: 0px 5px 10px 5px;
}

#container-apply{
    text-align: center;
}

#apply-now{
    color: white;
    background-color: #3E5DCC;
    width: 150px;
    height: 30px;
    border-style: solid;
    border: 2px;
    border-radius: 5px;
}

#apply-now:hover{
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 15px;
    scale: 1.2;
}

@media (max-width: 600px){
    #container-left-items > h1{
        display: none;
    }
    #items-profile{
        display: none;
    }
}

@media (max-width: 799px){
    #navbar-left{
        width: auto;
        margin: 0 5px;
    }
    section{
        margin: 0 5px;
    }
    #mentor-profile{
        flex-direction: column;
    }
    #mentor{
        margin: 5px;
    }
    #presentación-mentor{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #presentación-mentor > p{
        width: 100%;
        padding: 10px 0;
        margin: 0px 10px;
    }
}

@media (min-width:800px) and (max-width: 1024px){
    section{
        margin: 0 50px;
    }
}

/*FOOTER*/
footer {
    background-color: #124e73;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

#container-bottom-items{
    padding: 5px;
    margin: 5px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
}

#box-logo{
    height: 50px;
    display: flex;
    align-items: center;
    gap:10px;
}

#box-logo img{
    width: 50px;
}

#container-options{
    display: flex;
    justify-content: space-around;
    gap:20px
} 

.container-columns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-columns a{
    color: #fff;
    text-decoration: none;
}

.container-columns a:hover{
    color: #838383;
    scale: 1.05;
}

#iconos{
    display: flex;
    align-items: center;
    gap: 10px;
}

#iconos a img:hover{
    scale: 1.2;
}

#footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-conditions{
    display: flex;
    gap: 20px;
}

#container-conditions a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

#container-conditions a:hover{
    color: #838383;
    scale: 1.10;
}

@media (max-width:1023px){
    /*media query de Comentarios de los estudiantes*/
    #container-reviews{
         grid-template-columns: repeat(2,1fr);
    }
    /*media query de los comentarios*/
    #contact-us img{
         display: none;
    }
    /*media query del footer*/
    #footer-bottom{
         flex-direction: column;
         justify-content: center;
         gap:20px;
    }
    #container-conditions{
         justify-content: space-evenly;
    }
}

@media (max-width:780px){
    /*media query de Comentarios de los estudiantes*/
    #container-reviews{
         grid-template-columns: repeat(1,1fr);
    }
    /*media query del footer*/
    #iconos{
         width: 100%;
         justify-content: center;
    }
    #container-options{
         width: 100%;
         margin: 10px;
    }

}
@media (max-width:480px){
    /*media query del footer*/
    #container-options{
         justify-content: space-between;
    }
}
